html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: $white;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: bottom center;
}

li {
  list-style: none;
  font-family: "Barlow Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: $white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 2.7px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bellefair", serif;
}
